@lightProfileColor: #e3b0a8;
@darkProfileColor: #c86151;

.banner {
    background-color: @lightProfileColor;
    border-bottom: 0.25rem solid @darkProfileColor;
}
.counsellor--light,
.counsellor--dark {
    background-color: @lightProfileColor;
}

.informationPoster .nav-veilederpanel .nav-veileder__frame {
    background-color: @lightProfileColor;
}
